<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="CS_ADO_NET" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;&#xD;&#xA;   AttachDbFilename=C:\Users\Wellington Amaral\Documents\IFRO\PROGRAMACAO VISUAL\PROJETO_INTEGRADOR\ViewProject\dbFolder\ViewProjectDB.mdf;&#xD;&#xA;   Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ViewProject.Properties.Settings.ViewProjectDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbFolder\ViewProjectDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <applicationSettings>
  <ViewProject.Properties.Settings>
   <setting name="teste" serializeAs="String">
    <value />
   </setting>
  </ViewProject.Properties.Settings>
 </applicationSettings>
</configuration>