<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CS_ADO_NET"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;
			AttachDbFilename=C:\Users\zwiro\Source\Repos\ADO.NET_teste\ViewProject\dbFolder\ViewProjectDB.mdf;
			Integrated Security=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>