<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="CS_ADO_NET" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;&#xD;&#xA;		AttachDbFilename=C:\Users\Rodrigo\source\repos\ADO.NET_teste\ViewProject\dbFolder\ViewProjectDB.mdf;&#xD;&#xA;		Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ViewProject.Properties.Settings.ViewProjectDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbFolder\ViewProjectDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>